<html>
    <body>
        <h1>Seção de Tecnologia</h1>
        <button>
            <script>
                console.log("Mama aqui meu");
            </script>
            Mama aqui o piru
        </button>
    </body>
</html>
